
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}
html{    
    font-size: 10px;
    font-size: 1rem;
}
.cont{
    width: 100%;
    height: auto;
    background-color: black;
    padding-bottom: 80px;
}
.cont-home{
    width: 100%;
    margin: 0 auto;
    height: auto;
    padding-top: 20px;
}
.logo{
    width: 200px;
    height: 200px;
    margin: 0px auto 20px;
    display: block;
}
nav{
    display: flex;
    justify-content: center;
}
nav ul{
    width: 260px;
    display: flex;
    justify-content: space-between;

}
nav ul li{
    color: white;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 2rem;
    padding: 10px;
    border: 1px solid white;
}
nav ul li:hover a{
    font-weight: 800;
    cursor:pointer;
    transition: .2s;
    font-size: 2rem;
    color: #F8B133;
}
.cont-carta img{
    margin: 0 auto;
    display: block;
}
h1{
    font-size: 2rem;
    color: #F8B133;
    margin: 20px 0 32px;
}
.container-input{
    margin: 0 auto 96px;
}
.container-input label{
    color: white;
}
.container-input input{
    width: 100%;
    height: 36px;
    margin: 0 auto;
    margin-top: 16px;
    padding: 0 4px;
    box-sizing: border-box;
}
.container-input .show-error{
    color: red;
    font-size: .8rem;
}
.container-input button{
    height: 32px;
    padding: 16px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; 
    margin-top: 16px;
    border: 1px solid #555358;
    border-radius: 6px;
    position: relative;
    background-color: #555358;
    box-shadow: 0px 10px 27px -3px rgba(64,61,57,0.52);
    -webkit-box-shadow: 0px 10px 27px -3px rgba(64,61,57,0.52);
    -moz-box-shadow: 0px 10px 27px -3px rgba(64,61,57,0.52);
}

.card-info__content{
    width: 320px;
    border: 1px solid white;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 12px 18px 20px;
    margin: 32px auto;
}
.card-info__content img{
    width: 70px;
    margin: 0 auto;
    display: block;
}
.card-info__content p.info-puntos{
    color: white;
    text-align: center;
    font-size: 16px;
}
.card-info__content p.info-puntos span{
    font-size: 20px;
    font-weight: bold;
}
.card-info__content p.data-extra{
    color: white;
    font-weight: lighter;
    font-size: 12px;
    margin-top: 12px;
}

@media (min-width:360px){
    .cont-home{
        width: 320px;
    }    
    h1{
        color: #F8B133;
    }
}
@media (min-width:411px){
    .cont{
        height: 100vh;
    }
}
@media (min-width:480px){
    .cont-home{
        width: 88%;
    }
    nav ul{
        width: 320px;   
    }
}
@media (min-width:1200px){
    .cont-home{
        width: 1024px;
    }
}

@keyframes ldio-r53camnzr7b {
    0% { transform: rotate(0deg) }
    50% { transform: rotate(180deg) }
    100% { transform: rotate(360deg) }
  }
  .loadingio-spinner-eclipse-fv54pm0wn1t {
    width: 100%;
    height: 100%;
    background-color: #555358;
    position: absolute;
  }
  .ldio-r53camnzr7b {
    width: 100%;
    height: 100%;
    transform: translateZ(0) scale(1);
    transform-origin: 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ldio-r53camnzr7b div {
    animation: ldio-r53camnzr7b 1s linear infinite;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 1px 0 0 #ffffff;
  }
  .ldio-r53camnzr7b div { box-sizing: content-box; }
  
  